pkgbase = pastebox-cli
	pkgdesc = Lightweight command-line client for self-hosted Pastebox servers
	pkgver = 26.09.20
	pkgrel = 1
	url = https://github.com/kmw0410/pastebox-cli
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=1.26.4
	source = pastebox-cli-26.09.20.tar.gz::https://github.com/kmw0410/pastebox-cli/archive/refs/tags/v26.09.20.tar.gz
	sha256sums = 433b94f25d6166d14a2b5164972d457e6e9b54894a44a9398c13098defed66b0

pkgname = pastebox-cli
